[submodule "Package Control"]
	path = Package Control
	url = git://github.com/wbond/sublime_package_control
[submodule "Monokai Extended"]
	path = Monokai Extended
	url = git://github.com/jonschlinkert/sublime-monokai-extended.git
